body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  background-color: black;
  /* border: red;
  border-style: solid; */
  min-height: 100%;
  max-height: 100%;
}



.App {
  display: flex;
  flex-direction: column;

  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  top: 0;
  margin-bottom: 2vh;
  min-width: 95vw;
  max-width: 95vw;
  min-height: 6vh;
  max-height: 6vh;
  
  border: black;
  border-style: solid;
  background-color: #996A84;

  border-style: solid;

}

.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 40vw;
  margin-left: 1.5vw;
  /* border: black;
  border-style: dashed; */
}


.header-link{
  text-decoration: none;
  color: black;
  margin-right: 2vw;
}

.site-title {
  margin: 0px;
  list-style: none;
  padding: 0;
}



/*----------------------------------------------------------*/

main {
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  min-width: 95vw;

  margin-bottom: 2vh;

}

/* .loading-screen{
  margin: 0 auto;
} */


.fires-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.left-box{
  display: flex;
  flex-direction: column;
  background-color: #549FA2;
  overflow-y:auto;
  width: 29vw;
  height: 75vh;
}

.left-section-title { /* Fires in your area */
  margin: 1vh auto;
}

.fire-unit { /* One fire, with title and data */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  margin: 1vh auto;
  background-color: white;
  border: red;
  border-style: solid;
}

.fire-name {
  display: flex;
  margin-top: 0;
  margin-bottom: 1%;
  margin-left: auto;
  margin-right: auto;
  text-decoration: underline;

}

.fire-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  margin-left: 2%;
  margin-bottom: 1%;
  padding: 0;
  list-style: none;
  width: 99%;

}

.fire-detail {
  margin-left: 0px;
  margin: 0;
  padding: 0;
}


/* within mapbox container */
.mapbox-container-map { 
  display: flex;
  flex-direction: column;
  align-items: flex-end !important;
  height: 100% !important;
  width: 98% !important;

  margin: 0;
  padding: 0;

}

.marker {
  margin: 0;
  padding: 0;
}

/*----------------------------------------------------------*/
/*----------------------------------------------------------*/

.about{
  min-width: 95vw;
  max-width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: #549FA2;
  /* border: red;
  border-style: solid; */
  
}


.discourse{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: blue;
  border-style: solid;

}

.about-section{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 90vw;
  border: red;
  border-style: solid;
  margin-bottom: 2vh;

}

.about-text {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  min-width: 60vw;
  max-width: 60vw;
  background-color: white;
}

.about-image{
  display: flex;
  margin-left: 2vw;
  min-width: 25vw;
  max-width: 25vw;
}









/*----------------------------------------------------------*/


footer {
  display: flex;
  flex-direction: column;
  bottom: 0;
  background-color: #996A84;
  border: black;
  border-style: solid;
  min-width: 95vw;
  max-width: 95vw;
  min-height: 8vh;
  max-height: 8vh;
  overflow-y:auto;
}














